<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <div class="container-fluid" id="navbar">
    <a class="navbar-brand"
       {% if user.is_authenticated %}
       href="{% url 'post-list' %}"
       {% else %}
       href="{% url 'index' %}"
       {% endif %}
    ><i class="fas fa-khanda fa-lg" style="margin-right: 7px;"></i>Aeternum Battles</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <form class="d-flex">
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
      </form>
      {% if user.is_authenticated %}

        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" onclick="profileDropdownMargin()" data-bs-toggle="dropdown" role="button" aria-expanded="false">
            <img id="profile_picture" src="{{ user.profile.picture.url }}" width="30" height="30" class="rounded-circle">
            {% if friend_requests %}
              <i class="fas fa-bell nav-item" id="notif_bell" style="color: red; z-index: 2; position: fixed; margin-bottom: 18px; margin-left: -40px"></i>
            {% endif %}
          </a>
          <ul class="dropdown-menu" id="dropdown">
            <li>
              <a class="dropdown-item" href="{% url 'profile' request.user.profile.pk %}">Profile {% if friend_requests %}<i class="fas fa-bell nav-item" id="notif_bell1" style="color: red; "> </i>{% endif %}</a>
            </li>
            <li><a class="dropdown-item" href="{% url 'leaderboard' %}">Leaderboard</a></li>
            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a></li>
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
</nav>
<!-- >=992 px non collapsed version-->
<script>

  function profileDropdownMargin() {
    if (document.getElementById('navbar').clientWidth < 992) {
      document.getElementById('dropdown').style.marginLeft='0px'
    }
    else {
      document.getElementById('dropdown').style.marginLeft='-95px'
    }
  }

</script>