{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-3 col-sm-6 text-center">
            <a href="{% url 'post-list' %}" class="btn btn-primary">Available Challengers</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <ol class="list-group list-group-numbered col-md-5 col-sm-11 mt-4">
            {% for user in users %}
                <li class="list-group-item">
                        <a class="text-primary remove-link-decoration" href="{% url 'profile' user.user.profile.pk %}">{{ user.user }}</a>
                        <i class="fas fa-gem leaderboard-points text-primary"> {{ user.points }}</i>
                </li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endblock content %}