{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-3 col-sm-6" style="margin-left: 50px;">
            <a href="{% url 'post-list' %}" class="btn btn-primary">Available Challengers</a>
        </div>
    </div>

    {% for user in users %}
    <div class="row justify-content-center mt-2">
        <div class="col-md-4 col-sm-11 border-bottom position-relative">
            <a href="{% url 'profile' pk=user.pk %}"><strong>{{ user.user }}</strong></a>
        </div>
        <div class="col-sm-1 border-bottom">
            <i class="fas fa-gem" style="color: blue;">{{ user.points }}</i>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}