{% extends 'landing/base.html' %}

{% block content %}
<div class="container">
    <div class="row  mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'post-list' %}" class="btn btn-primary">Available Challengers</a>
        </div>
    </div>
    <div class=" d-flex justify-content-center">
        <div class="card shadow-sm w-75 mt-5">
            <div class="row no-gutters">
                <div class="col-auto m-2">
                    <img src="{{ profile.picture.url }}" class="rounded-circle" width="100"/>
                </div>
                <div class="col-md-8 mt-2">
                    <h3>{{ user.username }}
                        <span>
                            {% if request.user == user %}
                                <a href="{% url 'profile-edit' profile.pk %}" style="color: #333"><i class="far fa-edit"></i></a>
                            {% endif %}
                        </span>
                    </h3>

                    <i class="fas fa-gem" style="color: blue;"> {{ profile.points }}</i>

                    {% if profile.bio %}
                        <p>{{ profile.bio }}</p>
                    {% endif %}
                    <p>Friends: {{ profile.get_friends_no }}</p>
                    {% if request.user != user and user not in request.user.friends.all %}
                    <a href="{% url 'add-friend' user.pk %}" class="btn btn-primary mb-2">Add Friend</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 mt-3 mx-auto">
        <h4 class="text-center">Friend Requests</h4>
    </div>

    {% for friend_request in all_friend_requests %}
    <div class="row justify-content-center mt-4">
        <div class="col-md-4 col-sm-12 border-bottom">
            <h6><a style="text-decoration: none;" class="text-primary" href="{% url 'profile' post.author.profile.pk %}">@{{ friend_request.sender }}</a> {{ friend_request.timestamp }}</h6>
            <a href="{% url 'accept-request' friend_request.pk %}"> Accept</a>
        </div>
    </div>
    {% endfor %}

    <div class="col-md-3 col-sm-6 mt-3 mx-auto">
        <h4 class="text-center">Posts</h4>
    </div>

    {% for post in posts %}
    <div class="row justify-content-center mt-4">
        <div class="col-md-8 col-sm-12 border-bottom">
            <p><a style="text-decoration: none;" class="text-primary" href="{% url 'profile' post.author.profile.pk %}">@{{ post.author }}</a> {{ post.created_on }}</p>
            <div class="position-relative">
                <p>{{ post.body }}</p>
                <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}